*{
    font-family: 'Poppins';
}

.profile img{
    border-radius: 50%;
    height: 70px;
    width:70px;
}

nav{
    margin:auto;
    width:95%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}




ul{
    display: flex;
    margin-top:2%;
    margin-right: 5%;
    color: black;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
}

li{
    height:40px;
    width:50px;
}

ul li img{
    height:27px;
    width:30px;
    display:inline;
    margin-left:15px;
    padding: 14px 16px;
}

#intro{
    text-align: center;
    margin-top: 10%; 
}

#intro .name{
    font-size: 30px;
    font-weight: 800;
}

.container{
    font-size:30px;
    font-weight:1000;
}

#intro{
    margin-top: 150px;
}

span{
    color:#254EEA;
    font-weight: 1000;
}

